@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

:root {
    --purple-color: #4e2a84;
    --pink-color: #ff0e83;
    --pink-color-hover: #f34498;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/*HEADER*/
header {
    background-color: var(--purple-color);
    padding-bottom:10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.header__nav {
    margin: auto;
    display: block;
    flex-basis: 70%;
    align-items: center;
}

    .header__nav ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
    }

        .header__nav ul li {
            display: inline;
            margin: 0 10px;
        }

        .header__nav ul a,
        .header__nav ul i {
            text-decoration: none;
            color: white;
            font-size: .9rem;
            font-weight: 510;
            letter-spacing: 2px;
            transition: all .5s;
            margin: 0 10px;
        }


        .header__nav ul i {
            font-size: 1rem;
        }




        .header__nav ul li:hover i,
        .header__nav ul li:hover a {
            color: var(--pink-color);
        }

        .header__nav ul .active-header a {
            color: var(--pink-color);
            font-size:1rem;
            font-weight:610;
        }

        .header__nav ul a:hover {
            color: var(--pink-color);
        }

/* HEADER SEARCH */
.header__logo {
    height: 4.7rem;
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 6rem;
}

.header__logo span:first-of-type {
        visibility: hidden;
    }

.header__body {
    margin: auto;
    margin-bottom: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
}

    .header__body p {
        color: white;
        font-size: 1.8rem;
        margin: 1.2rem 0 0 4rem;
    }

    .header__body span {
        font-weight: 710;
    }

.header__search input {
    width: 45rem;
    margin-top: 0.6rem;
    padding: 14px;
    border-radius: 5px 0 0 5px;
    border: none;
    font-size: 1.05rem;
}

.header__search {
    display: flex;
}

.header__search button {
        background-color: var(--pink-color);
        height: 2.95rem;
        margin-top: 0.6rem;
        border-radius: 0 5px 5px 0;
        border: 2px solid white;
        padding: 13px 32px;
        font-size: 0.875rem;
        cursor: pointer;
        transition: all .5s;
        margin-right: 2.5rem;
    }

.header__search button:hover {
            background-color: white;
            border-color: var(--pink-color);
        }


.car__shopping a i {
    color: white;
    padding-top: 1.5rem;
    padding-left: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.car__shopping a i:hover {
        color: var(--pink-color);
        transition: all .7s;
    }

.cart__number {
    position: absolute;
    padding: 1px 4.5px;
    top: 54px;
    right: 90px;
    font-size: .9rem;
    line-height: 14px;
    border-radius: 10px;
    border: var(--purple-color) 2px solid;
    color: white;
    background-color: var(--pink-color);
}
/*BODY*/
body{
    margin-top: 130px;
    line-height: 1.5;
}
.card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
}
img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
    position: relative;
    left: 70px;
}
.img-showcase{
    display: flex;
    width: 70%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
.last-price span{
    color: #f64749;
    text-decoration: line-through;
}
.new-price span{
    color: #256eff;
}
.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    background: url(shoes_images/checked.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #256eff;
}
.purchase-info .btn:last-of-type{
    background: #f64749;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}

@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid grey;
        border-radius: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: 0 0 8px;

    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* border-right: 2px solid grey; */
    }
    .product-content{
        padding-top: 0;
    }
}